body {
  display: grid;
  /* grid-template-columns: auto 0px; */
}

#navibar {
  padding: 60px 0px;
  transition: 0.5s;
  /* So that it's at the top */
  top: 0;
  width: 100%;
  background-color: black;
  position: sticky;
}

/* Display the links to the right */
nav {
  float: right;
}

nav a {
  float: left;
  padding: 10px 20px;
  text-align: center;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
}

/* When user hover's their mouse over the text it increase in size a bit */
nav a:hover {
  font-size: larger;
  transform: scale(1.2);
}

@media screen and (max-width: 590px) {
  #navibar {
    padding: 20px 5px !important;
  }
  #navibar a {
    display: block;
    text-align: left;
    float: none;
  }
  nav {
    float: none;
  }
}

.btt {
  text-decoration: none;
  color: white;
  background: rgb(54, 93, 179);
  font-size: larger;
  /*Here I made it so that after the user scrolls a 100px display the back to top option */
  --offset: 100px;
  margin-top: calc(100vh + var(--offset));
  position: sticky;
  place-self: end;
  white-space: nowrap;
  bottom: 20px;
  margin-right: 10px;
  padding: 9px 18px 10px;
  border-radius: 25%;
}

html,
body {
  scroll-behavior: smooth;
}
