/* The styling below is implemented to all of the webpages */
body {
  display: grid;
  background-color: black;
}

#navibar {
  padding: 30px 0px;
  transition: 0.5s;
  /* So that it's at the top */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(14, 14, 14);
  position: sticky;
  /* Used flexbox to display the navigation bar more neatly */
  display: flex;
  flex-direction: row;
}

nav a {
  float: left;
  padding: 0px 40px;
  padding-top: 25px;
  text-align: center;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 21px;
  color: white;
}

/* When user hover's their mouse over the text it increase in size a bit */
nav a:hover {
  font-size: larger;
  transform: scale(1.2);
}

.btt {
  text-decoration: none;
  color: black;
  background: white;
  font-size: larger;
  margin-top: calc(100vh + var(--offset));
  position: sticky;
  place-self: end;
  white-space: nowrap;
  bottom: 20px;
  margin-right: 15px;
  padding: 9px 18px 10px;
  border-radius: 25%;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
footer {
  background-color: rgb(14, 14, 14);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 380px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div div div {
  gap: 30px;
  flex-direction: column;
  padding: 0px 20px 5px;
}
footer div div {
  flex-direction: row;
  padding: 4px 18% 4px;
}
.footer1 img {
  height: 50px;
  padding-top: 15px;
}
.footer2 {
  flex-direction: row;
}
.footer2 a {
  text-decoration: none;
  color: white;
}
.footer3 img {
  height: 140px;
  padding-top: 20px;
}
.footer4 {
  color: rgb(113, 113, 113);
  font-size: 13px;
}
.footer5 img {
  height: 50px;
}
.img-deco2 {
  transform: rotate(180deg);
}

/* The styling below from here is for the Index webpage */

#index-bg1 a {
  text-decoration: none;
  background-color: white;
  color: rgb(32, 85, 165);
  position: absolute;
  top: 63%;
  left: 47%;
  padding: 10px 15px 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5%;
  font-size: 20px;
  font-weight: bold;
}

/* The styling below from here is for the Characters webpage */

#elnav {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  top: 30%;
  z-index: 100;
  transition: 0.5s;
}

#elnav a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 0px 10px;
}

/* Here I made it so that when the user hovers over the right side 
navigation bar the opacity turns from 0.5 to its orginal opacity */
#elnav img {
  opacity: 0.5;
}

#elnav img:hover {
  opacity: 1;
  transform: scale(1.1);
}

#characters-heading1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#characters-heading2 h2 {
  font-size: 50px;
  padding: 0px 35px 0px;
}

#characters-heading1 p {
  padding: 0px 25% 0px;
  text-align: center;
  font-size: 18px;
}
#characters-heading2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#vids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#anemoheading {
  color: rgb(104, 170, 133);
  font-size: 50px;
  font-weight: bold;
}
#hydroheading {
  color: rgb(47, 86, 145);
  font-size: 50px;
  font-weight: bold;
}
#pyroheading {
  color: rgb(178, 83, 83);
  font-size: 50px;
  font-weight: bold;
}
#dendroheading {
  color: rgb(58, 156, 79);
  font-size: 50px;
  font-weight: bold;
}
#geoheading {
  color: rgb(219, 199, 99);
  font-size: 50px;
  font-weight: bold;
}
#electroheading {
  color: rgb(133, 91, 185);
  font-size: 50px;
  font-weight: bold;
}
#cryoheading {
  color: rgb(148, 246, 238);
  font-size: 50px;
  font-weight: bold;
}

#vids p {
  color: white;
  font-size: 20px;
  padding: 0px 15% 40px;
}

.demo1 {
  width: 85%;
  padding-bottom: 140px;
}

.demo2 {
  width: 85%;
}
.elements {
  width: 100%;
  padding-bottom: 60px;
}

/* The styling below from here is for the About webpage */
.about-bg {
  background-image: url(images/about\ -\ bg.png);
  width: 100%;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -1;
}
.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2000px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.about-body h1 {
  margin-top: 40px;
  font-size: 45px;
}
.content-body1 {
  margin-top: 40px;
  margin-right: 50%;
  background-image: url("https://genshin.hoyoverse.com/_nuxt/img/introBackground.77bb3df.png");
  background-size: cover;
  z-index: 1;
  height: 350px;
  width: 370px;
  color: rgb(91, 64, 47);
}
.content-body2 {
  margin-top: 40px;
  margin-left: 50%;
  background-image: url("https://genshin.hoyoverse.com/_nuxt/img/introBackground.77bb3df.png");
  background-size: cover;
  z-index: 1;
  height: 350px;
  width: 370px;
  color: rgb(91, 64, 47);
}
.content-body1 div {
  padding: 13% 33px 0px;
}
.content-body2 div {
  padding: 15% 40px 0px;
}

/* The styling below from here is for the Enemies webpage */
#enemies-desc,
#enemies1,
#enemies2,
#enemies3 {
  color: white;
  font-size: 20px;
  text-align: center;
}
#enemies-desc,
#enemies1,
#enemies2,
#enemies3 p {
  padding: 0px 16% 0px;
}
#enemies-desc,
#enemies1,
#enemies2,
#enemies3,
#enemies {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#enemies-deco {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#enemies-deco h1,
h2 {
  padding: 0px 35px 0px;
}

#common-enemies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#common-enemies div {
  background-color: rgb(210, 210, 210);
  height: 140px;
  width: 140px;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
  margin: 20px;
  border-radius: 0px 0px 7px 7px;
}
#common-enemies div p {
  margin-top: -19px;
  background-color: rgb(210, 210, 210);
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 7px 7px 0px 0px;
  padding: 2px 0px 2px;
}

.hilichurl {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Hilichurl%2520Fighter_icon.png);
}
.hilichurl:hover {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Hilichurl%2520Berserker_icon.png);
}
.slime {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Dendro%2520Slime_icon.png);
}
.slime:hover {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Electro%2520Slime_icon.png);
}
.fungus {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Floating%2520Hydro%2520Fungus_icon.png);
}
.fungus:hover {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2022/10/07/77454259/0b332fc89af26ece5c6402fc82cce5e5_7847006729375799267.png?x-oss-process=image%2Fformat%2Cwebp);
}
.specter {
  background-image: url(//wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Geo%2520Specter_icon.png);
}
.specter:hover {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Cryo%2520Specter_icon.png);
}
.samachurl {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Electro%2520Samachurl_icon.png);
}
.samachurl:hover {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Cryo%2520Samachurl_icon.png);
}
.whopperflower {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Pyro%2520Whopperflower_icon.png);
}
.whopperflower:hover {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Cryo%2520Whopperflower_icon.png);
}

/* elite enemies */
#elite-enemies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#elite-enemies div {
  background-color: rgb(210, 210, 210);
  border-radius: 0px 0px 7px 7px;
  height: 140px;
  width: 140px;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
  margin: 20px;
}
#elite-enemies div p {
  margin-top: -19px;
  background-color: rgb(210, 210, 210);
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 7px 7px 0px 0px;
  padding: 2px 0px 2px;
}

.fem-erimite {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2023/01/19/194600931/e3ada2f7642f67aa52b067345fae5a54_6250250778103314507.png?x-oss-process=image%2Fformat%2Cwebp);
}
.fem-erimite:hover {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2023/01/19/194600931/088685fa15801b65f875acec2cbfcfac_3942669023422830372.png?x-oss-process=image%2Fformat%2Cwebp);
}
.male-erimite {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2022/09/05/1023623/5f9a54c0016a9a1c5ba5ad9e78398f10_8340549222546087070.png?x-oss-process=image%2Fformat%2Cwebp);
}
.male-erimite:hover {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2022/09/05/1023623/2511ef76a6dee1e388fea0826bade579_8432883377890915955.png?x-oss-process=image%2Fformat%2Cwebp);
}
.kairagi {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2023/04/24/77454259/20a85263633526cab2a0427c5b4781bc_6270465273275579312.png?x-oss-process=image%2Fformat%2Cwebp);
}
.kairagi:hover {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2023/04/24/77454259/87720e5cfe2d4e82201a31a8b8d46ee7_1111157407291733826.png?x-oss-process=image%2Fformat%2Cwebp);
}
.ruin-guard {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Ruin%2520Guard_icon.png);
}
.ruin-guard:hover {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Ruin%2520Hunter_icon.png);
}
.fatui-officer {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2023/09/28/35428890/aae4d48597cbdb452d7113200f76a95d_915488915911211730.png?x-oss-process=image%2Fformat%2Cwebp);
}
.fatui-officer:hover {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2023/09/28/35428890/b2c598a4fa81be8bb43ba35074d92f74_2612773732742922678.png?x-oss-process=image%2Fformat%2Cwebp);
}
.cecin-mage {
  background-image: url(https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/enemy/Fatui%2520Electro%2520Cicin%2520Mage_icon.png);
}
.cecin-mage:hover {
  background-image: url(https://upload-static.hoyoverse.com/hoyolab-wiki/2023/04/15/35428890/810e7c1e11af1d9f6f558d4553ed28af_5992680956944573740.png?x-oss-process=image%2Fformat%2Cwebp);
}

/* boss enemies */
#boss-enemies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#boss-enemies div {
  background-color: rgb(210, 210, 210);
  border-radius: 0px 0px 7px 7px;
  height: 280px;
  width: 300px;
  background-size: cover;
  margin: 20px;
}
#boss-enemies div p {
  margin-top: -19px;
  background-color: rgb(210, 210, 210);
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 7px 7px 0px 0px;
  padding: 2px 0px 2px;
}
.geovishap {
  background-image: url(images/enemy\ -\ vishap.png);
}
.regisvine {
  background-image: url(images/enemy\ -\ regisvine.png);
}
.jadeplume {
  background-image: url(images/enemy\ -\ dendro\ bird.png);
}
.wolf {
  background-image: url(images/enemy\ -\ wolflord.png);
}

#enemies {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card .img img {
  width: 600px;
  height: 508px;
  object-fit: cover;
}
.bossSliders .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  background: rgb(210, 210, 210);
  object-fit: cover;
  height: 580px;
  border-radius: 7px;
  cursor: pointer;
  scroll-snap-align: start;
  padding-bottom: 25px;
}
.bossSliders :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-slider .bossSliders {
  scroll-behavior: smooth;
  display: grid;
  gap: 55px;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
}
.img-slider {
  position: relative;
  width: 100%;
  max-width: 1100px;
}
.card span {
  padding: 0px 20% 0px;
  text-align: center;
  font-size: 15px;
}
.card h2 {
  font-size: 20px;
}
.img-slider i {
  top: 45%;
  width: 50px;
  height: 50px;
  background-color: rgb(210, 210, 210);
  box-shadow: 0 2px 4px black;
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  position: absolute;
  font-size: 1.3rem;
}
.img-slider i:first-child {
  left: -37px;
}
.img-slider i:last-child {
  right: -28px;
}
.bossSliders.dragging .card {
  cursor: grab;
  user-select: none;
}
.bossSliders.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}
.bossSliders::-webkit-scrollbar {
  display: none;
}
.bossSliders.no-transition {
  scroll-behavior: auto;
}

/* Below I made it so that when the screen width is smaller the images adjust */
@media screen and (max-width: 900px) {
  .img-slider .bossSliders {
    grid-auto-columns: calc((100% / 1) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .img-slider .bossSliders {
    grid-auto-columns: 100%;
  }
}

/* Below here will be the styling for the Explore webpage */
.region-maps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.region-maps div {
  transition: background-image 2s ease-in-out;
}
.region-info {
  width: 700px;
  background-color: rgba(52, 52, 52, 0.5);
  margin-top: 11%;
  border-radius: 50px;
  padding: 15px;
}
.region-info p {
  font-size: 18px;
}
#region-deco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#region-deco h2 {
  padding: 0px 30px 0px;
  font-size: 40px;
}
.loading-screen {
  width: 100%;
}

.mondstadt {
  background-image: url(images/map\ -\ mond.png);
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mondstadt:hover {
  background-image: url("https://webstatic.hoyoverse.com/upload/uploadstatic/contentweb/20200320/2020032014410864090.jpg");
}
.liyue {
  background-image: url(images/map\ -\ l.png);
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.liyue:hover {
  background-image: url("https://webstatic.hoyoverse.com/upload/uploadstatic/contentweb/20200320/2020032014541768485.jpg");
}
.inazuma {
  background-image: url(images/map\ -\ i.png);
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inazuma:hover {
  background-image: url("https://webstatic.hoyoverse.com/upload/uploadstatic/contentweb/20210719/2021071920203256336.jpg");
}
.sumeru {
  background-image: url(images/map\ -\ s.png);
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sumeru:hover {
  background-image: url("https://act-webstatic.hoyoverse.com/upload/contentweb/2022/08/16/8969f683b92839ac427c875d0d742be2_4596868760376591695.jpg");
}
.fontaine {
  background-image: url(images/map\ -\ f.png);
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fontaine:hover {
  background-image: url("https://webstatic.hoyoverse.com/upload/op-public/2023/08/10/721a74c43614d7aeb25b046cabfb57be_2232465004168336408.jpg");
}
